# Prerequisites
*.d

# qtcreator
Sniffer.pro.user
*.pro.user
*.pro.user*

# CMakeLists.user.txt *.pro.user
*.pro.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build dir

*build*
